<p style="font-size:60px;">Bookworm</p>
<div style="display:flex;">
    <img src="~/media/bookstore.png" width="49%" />
    <a style="margin-left:2%; width:49%;">
        <p>
            <b>Bookworm</b> - это уютный книжный магазин, где каждый найдет свой мир из страниц.
            Мы предлагаем широкий выбор лучших книг по разным жанрам и темам для всех возрастов.
        </p>
        <p>В нашем магазине вы сможете:</p>
        <ul>
            <li>Обнаружить новых авторов и открыть для себя неизвестные произведения</li>
            <li>Путешествовать в различные миры через слова великих писателей </li>
            <li>Найти идеальный подарок для друзей или близких </li>
            <li>Участвовать в литературных мероприятиях и встречах с авторами</li>
        </ul>
        <p>Мы стремимся создать атмосферу комфорта и вдохновения для всех посетителей нашего магазина.</p>
        <p><b>Bookworm</b> - это не просто место покупки книг, а настоящий дом для любителей чтения, где каждый найдет свой уголок с миром из страниц.</p>
        <p><b>Часы работы:</b> С 8:00 до 20:00 каждый день без выходных.</p>
        <p><b>Адрес:</b> ул. Куусинена, 11, корп. 2, Москва </p>
        <div style="display:inline-flex">
            <div style="display:inline-flex">
                <img src="~/media/7.png" style="width:20px;height:20px; margin:5px;" />
                <p>Полежаевская</p>
            </div>
            <div style="display:inline-flex">
                <img src="~/media/11.png" style="width:20px;height:20px; margin:5px;" />
                <p>Хорошёвская</p>
            </div>
            <div style="display:inline-flex">
                <img src="~/media/14.png" style="width:20px;height:20px; margin:5px;" />
                <p>Хорошёво</p>
            </div>
        </div>
    </a>

</div>
<h1 style="margin-bottom:20px; margin-top:20px;">Книжный клуб</h1>
<div id="kk" class="carousel carousel-dark slide" style="font-weight:100; margin-top:50px;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#kk" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#kk" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="height:500px;">
            <img src="/media/wuthering_heights.png" class="d-block carousel-image" style="height:400px; margin-left:120px;" alt="Грозовой перевал">
            <div class="carousel-caption  d-md-block" style="margin-left:240px; margin-bottom:40px;">
                <p style="font-weight:400; font-size:30px;">Встреча книжного клуба</p>
                <p style="font-weight:400; font-size:30px;">«Грозовой перевал» Эмили Бронте</p>
                <p style="font-size:26px;">23 сентября 16:00</p>
                <p>
                    В свое время этот роман перевернул с ног на голову представления о женских романах.
                    Лирическое произведение Эмили Бронте и сегодня не оставляет читателей равнодушными, заставляя сопереживать истории любви Кэти и Хитклифа.
                    За прошедшие десятилетия имена этих героев даже стали нарицательными.
                </p>
                <p>
                    Выставляя напоказ многочисленные предрассудки и нелепые правила, царившие в английской провинции 19 века,
                    Эмили Бронте выводит на первый план страсти, накрывающие сердца и разум главных героев.
                    Увы, каждый из них обладает серьезными пороками, из-за чего их отношения становятся невозможными.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000" style="height:500px;">
            <img src="/media/at_the_helm.png" class="d-block carousel-image" style="height:400px; margin-left:120px;" alt="Во главе">
            <div class="carousel-caption  d-md-block" style="margin-left:240px; margin-bottom:40px;">
                <p style="font-weight:400; font-size:30px;">Презентация</p>
                <p style="font-weight:400; font-size:30px;">«Во главе конца» Лия Арден</p>
                <p style="font-size:26px;">1 октября 14:00</p>
                <p>
                    Писательница представит свой новый роман «Во главе конца» – заключительную книгу трилогии «Нити судьбы»
                    о приключениях студентки Кассии, ввязавшейся в конфликт враждующих миров. История, сочетающая в себе элементы
                    городского фэнтези и древнегреческой мифологии, как никогда близка к развязке.
                </p>
                <p>
                    На встрече Лия Арден поделится фактами из истории работы над циклом,
                    расскажет о развитии своих героев, проделавших длинный путь к финалу трилогии,
                    и приподнимет завесу тайны над своей следующей книгой.
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#kk" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#kk" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>